@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

header {
    @apply bg-primary-light-3;
}

body {  
    /* margin-left: 100px; */
    @apply bg-gray-100;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: bold;
} 

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@layer utilities {
    .backdrop-blur-sm {
      backdrop-filter: blur(4px);
    }
  }